.row {
  max-width: 720px;
  margin: auto;
}

.col {
  width: 45%;
  padding-right: 5%;
  float: left;
}

.input_text {
  width: 100%;
  font-size: inherit;
  padding: 1em;
  margin-right: 2em;
  border: 1px solid rgba(0,0,0,0.33);
}

.input_button {
  padding: 1em;
  background-color: black;
  color: white;
  font-size: inherit;
  border: none;
}

.effect_shadow {
  box-sizing: border-box;
  margin: 1em 0.5em;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 8px -4px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 0px 8px -4px rgba(0,0,0,0.33);
  box-shadow: 0px 0px 8px -4px rgba(0,0,0,0.33);
}

.stage {
  font-size: 18px;
  text-align: center;
}